ul {
  list-style-type: none;
}

.vehiclebox {
  border: 1px solid #ddd;
  text-align: center;
  padding: 5px 10px;
}

label {
  margin-bottom: 0;
}

.list-group-item {
  padding: 0.15rem 0.5rem;
}

[type='radio'] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */

[type='radio'] + img {
  cursor: pointer;
  height: 2rem;
  margin-right: 10px;
}

.form-group {
  margin-bottom: 0;
}

.list-group-item:first-child {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  border: none;
}

.list-group-item {
  border: none;
  border-top: 1px solid #dfd7ca !important;
}

.disable-item {
  opacity: 0.5;
  cursor: not-allowed;
}
