<div class="row">
  <div class="col-md-12">
    <h2 class="text-center">
      Select any 4 Planets and Vehicles you want to search
    </h2>
    <h4 class="text-center" *ngIf="(totalTimeTaken$ | async) > 0">
      Total time to reach all the planets : {{ totalTimeTaken$ | async }}
    </h4>
    <br />
    <div class="row">
      <select-planet class="col-md-3"></select-planet>
      <select-planet class="col-md-3"></select-planet>
      <select-planet class="col-md-3"></select-planet>
      <select-planet class="col-md-3"></select-planet>
      <button
        *ngIf="readyToFind$ | async"
        class="btn btn-large btn-primary find"
        (click)="findFalcon()"
      >
        Find Falcon
      </button>
    </div>
  </div>
</div>
